@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-us {
    height: 100vh;
    width: 100%;
    background: url('../Img/AboutUs_bg1.jpg');
    /* position: fixed; */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__info {
    padding: 20px;
    margin-top: 5vh;
    width: 80%;
    padding: 5%;
    text-align: center;
    color: white;
    background: rgba(49, 49, 49, 0.66);
    border-radius: 20px;
}

.container__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.container__description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    .about-us {
        padding: 30px;
    }

    .container__info {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .about-us {
        padding: 20px;
    }

    .container__info {
        width: 100%;
        padding: 10px;
    }

    .container__title {
        font-size: 1.5rem;
    }

    .container__description {
        font-size: 0.9rem;
    }

    .cards__container {
        height: auto;
    }
}
