.carousel__container {
    width: 200%;
    /* border: rgb(37, 151, 52) 1px solid; */
}

.carousel__slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10em; */
    /* padding: 100px 100px; */
    color: black;
    /* background: rgba(187, 187, 187, 0.329) */
}

.avatar {
    height: 400px;
    /* border-radius: 50%; */
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member__info {
    text-align: center;
    margin-left: 10%;
}

.member__name {
    font-size: 24px;
    font-weight: bold;
}

.member__info>p {
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

.social__icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.social__icons a {
    display: inline-block;
    margin-right: 30px;
    color: #333;
    font-size: 50px;
    transition: color 0.3s ease;
}

.social__icons a:hover {
    color: #007bff;
}

/* Media Queries */
@media (max-width: 768px) {
    .carousel__slide {
        padding: 10px;
        flex-direction: column;


    }

    .avatar {
        height: 300px;
        margin-bottom: 2em;
    }

    .member__name {
        font-size: 20px;
    }

    .member__info>p {
        font-size: 14px;
    }

    .social__icons a {
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    .carousel__slide {
        padding: 10px;
        flex-direction: column;
    }

    .avatar {
        height: 200px;
    }

    .member__name {
        font-size: 18px;
    }

    .member__info>p {
        font-size: 12px;
    }

    .social__icons a {
        font-size: 30px;
    }
}