@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.Footer {
    width: 100%;
    height: 400px;
    background-color:#b7f3b5;
    display: flex;
    flex-direction: column;
}

.Footer>img {
    width: 100px;
    height: 100px;
}

.Footer>ul {
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.Footer>ul>li .personal-component {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.Footer>ul>li .personal-component .logo-list {
    display: flex;
    flex-direction: row;
}

.Footer>ul>li .personal-component .logo-list img {
    width: 25px;
    height: 25px;
}