@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.Footer {
    width: 100%;
    height: 350px;
    background-color:#b7f3b5;
    display: flex;
    flex-direction: column;
}

.Footer>img {
    width: 100px;
    height: 100px;
}

.Footer>ul {
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.Footer>p {
    text-align: center;
}

.Footer>ul>li .personal-component {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.Footer>ul>li .personal-component .logo-list {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.Footer>ul>li .personal-component p {
    font-size: 1.5rem;
    text-align: center;
}

.Footer>ul>li .personal-component .logo-list img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .Footer>ul {
        flex-wrap: wrap;
        
    }

    .Footer>ul li .personal-component {
        width: 150px;
    }

    .Footer>ul li {
        width: 150px;
    }
    .Footer>ul li .personal-component p {
        font-size: 1.1rem;
        width: 150px;
    }

    .Footer>ul>li .personal-component .logo-list {
        width: 150px;
    }

}