@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header {
    display: flex;
    width: 100%;
    height: 100px;
    position: fixed;
    top:0;
    background: transparent;
    border-bottom: 1px solid rgba(164, 164, 164, 0.397);
    
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
}

.Header .navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.Header .navbar>li {
    width: 120px;
    display: flex;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    height: 60px;
    align-items: center;
}

.Header .navbar>li a {
    transition: 0.5s;
    text-decoration: none;
    color: rgb(226, 226, 226);
    height: 100%;
    display: flex;
    align-items: center;
}

.Header img {
    width: 100px;
    height: 100px;
}

.Header .navbar>li:hover a,.Header .navbar>li a.curr-page{
    color: #2f9e44;
}

.white-header {
    background: unset;
    background-color: white;
    height: 70px;
    
}

.white-header .navbar>li a {
    color: rgba(78, 78, 78, 0.977);
}

.Header .bar-icon {
    height: 40px;
    width: 40px;
    display: none;
}

.curr-page {

}

@media only screen and (max-width: 600px) {
    .Header {
        background-color: white;
        justify-content: space-between;
    }

    .Header .navbar {
        display: none;
    }

    .Header .bar-icon {
        display: block;
    }
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    top:70px;
    right: 0;
    width: 70%;
    background-color: white;
    padding: 20px;
}

.mobile-nav li {
    list-style: none;
}

.mobile-nav li a {
    text-decoration: none;
    padding-top: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(44, 44, 44);
}

.invisible {
    display: none;
}