@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}


.intro-img {
    height: 100vh;
    width: 100%;
    background: url('../Img/BackgroundPage1-1.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
}

.intro-page {
    height: 100vh;
    width: 100%;
    display: block;
}

.intro-page .intro-contentpane {
    background: rgba(49, 49, 49, 0.66);
    width: 60%;
    height: 60vh;
    margin: 25vh auto auto 10%;
    border-radius: 20px;
    padding: 30px 20px;
    backdrop-filter: blur(5px);
    z-index: 0;
}

.intro-page .intro-contentpane h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    padding:20px;
    color: white;
}

.intro-page .intro-contentpane p {
    padding:20px;
    font-size: 2em;
    color: #fefefecc;
}

.news-page {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 50px;
}

.news-page>.title {
    text-align: center;
    padding: 1.5rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.prevention-page {
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
}

.contact-page {
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

.news-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .intro-page .intro-contentpane {
        margin: 150px auto;
        width: 90%;
    }

    .intro-page .intro-contentpane h1 {
        font-size: 2.4rem;
        padding: 10px;
        
    }

    .intro-page .intro-contentpane p {
        font-size: 1.6rem;
        padding: 10px;
    }
}