@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.intro-img {
    height: 100vh;
    width: 100%;
    background: url('../Img/BackgroundPage1-1.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
}

.intro-page {
    height: 100vh;
    width: 100%;
    display: block;
}

.intro-page .intro-contentpane {
    background: rgba(49, 49, 49, 0.66);
    width: 60%;
    height: 60vh;
    margin: 25vh auto auto 10%;
    border-radius: 20px;
}