@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.intro-img {
    height: 900px;
    width: 100%;
    background: url('../Img/BackgroundPage1-1.jpg');
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.intro-page {
    height: 900px;
    width: 100%;
}