@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}


.intro-img {
    height: 100vh;
    width: 100%;
    background: url('../Img/BackgroundPage1-1.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
}

.intro-page {
    height: 100vh;
    width: 100%;
    display: block;
    margin-top: 0;
    top: 0;
}

.intro-page .intro-contentpane {
    background: rgba(49, 49, 49, 0.66);
    width: 60%;
    height: 60vh;
    margin: 25vh auto auto 10%;
    border-radius: 20px;
    padding: 30px 20px;
    backdrop-filter: blur(5px);
    z-index: 0;
}

.intro-page .intro-contentpane h1 {
    font-size: 3rem;
    padding-left: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.intro-page .intro-contentpane p {
    padding:20px;
    font-size: 2em;
    color: #fefefecc;
}

.prevention-page {
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}


.news-page {
    width: 100%;
    height: 100vh;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.news-page>.title {
    text-align: center;
    padding: 1.5rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.news-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 60vh;
    
}

.news-page>a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 50px;
    width: 200px;
    font-size: bold;
    color: white;
    background-color: #4b4b4bce;
    transition: 0.5s;
    border-radius: 5px;
}

.news-page>a:hover {
    background: linear-gradient(90deg, #f4791f,#659999);
}


.contact-page {
    width: 100%;
    height: 100vh;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .intro-page .intro-contentpane {
        margin: 150px auto;
        width: 90%;
    }

    .intro-page .intro-contentpane h1 {
        font-size: 2.4rem;
        padding: 10px;
        
    }

    .intro-page .intro-contentpane p {
        font-size: 1.6rem;
        padding: 10px;
    }
    .news-pane {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        height: 60vh;
    }
}