@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.intro-img {
  height: 100vh;
  width: 100%;
  background: url("../Img/BackgroundPage1-1.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: -1;
  transition: 0.5s;
}

.intro-img2 {
  background: url("../Img/BackgroundPage1-2.jpg");
  background-size: cover;
}

.intro-page {
  height: 100vh;
  width: 100%;
  display: block;
  margin-top: 0;
  top: 0;
}

.intro-page .intro-contentpane {
  background: rgba(49, 49, 49, 0.66);
  width: 60%;
  height: 60vh;
  margin: 25vh auto auto 10%;
  border-radius: 20px;
  padding: 30px 20px;
  backdrop-filter: blur(5px);
  z-index: 0;
}

.intro-page .intro-contentpane h1 {
  font-size: 3rem;
  padding-left: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.intro-page .intro-contentpane p {
  padding: 20px;
  font-size: 2rem;
  color: #fefefecc;
}

.prevention-page,.contact-page {
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prevention-page .prevention-content-pane,
.contact-page .contact-content-pane {
  width: 55%;
}

.prevention-page .prevention-content-pane h1,
.contact-page .contact-content-pane h1 {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 1rem 2rem;
}

.prevention-page .prevention-content-pane p,
.contact-page .contact-content-pane p {
  font-size: 2rem;
  padding: 1rem 2rem;
}

.prevention-page .image {

    width: 30%;
    height: 35vh;
    background: url('../Img/Fire.jpg');
    background-size: cover;
    border-radius: 10px;
    -webkit-transition: .3s ease-in;
	transition: .3s ease-in;
}

.prevention-page .image:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);

}

.prevention-page .prevention-content-pane > a,
.contact-page .contact-content-pane>a {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 60px;
  width: 300px;
  font-weight: bold;
  color: white;
  background-color: #4b4b4bce;
  transition: 0.5s;
  border-radius: 5px;
  margin: 50px 10px 10px auto;
}

.prevention-page .prevention-content-pane > a:hover,
.contact-page .contact-content-pane>a:hover {
  background: linear-gradient(90deg, #f4791f, #659999);
}

.news-page {
  width: 100%;
  height: 100vh;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.news-page > .title {
  text-align: center;
  padding: 1.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.news-pane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: 60vh;
}

.news-page > a {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 50px;
  width: 200px;
  font-weight: bold;
  color: white;
  background-color: #4b4b4bce;
  transition: 0.5s;
  border-radius: 5px;
}

.news-page > a:hover {
  background: linear-gradient(90deg, #f4791f, #659999);
}

.contact-page {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.contact-page .image {

  width: 30%;
  height: 35vh;
  background: url('../Img/VKU.jpg');
  background-size: cover;
  border-radius: 10px;
  -webkit-transition: .3s ease-in;
transition: .3s ease-in;
}


@media only screen and (max-width: 800px) {
  .intro-page .intro-contentpane {
    margin: 150px auto;
    width: 90%;
  }

  .intro-page .intro-contentpane h1,
  .prevention-page .prevention-content-pane h1,
  .contact-page .contact-content-pane h1 {
    font-size: 2.4rem;
    padding: 10px;
    text-transform: uppercase;
  }

  .intro-page .intro-contentpane p,
  .prevention-page .prevention-content-pane p,
  .contact-page .contact-content-pane p {
    font-size: 1.6rem;
    padding: 10px;
  }
  .news-pane {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 60vh;
  }
  .intro-page .image,
  .contact-page .image {
    display: none;
  }
  .prevention-page,.contact-page {
    flex-wrap: wrap;
    padding: 20px;
  }
  .prevention-page .prevention-content-pane,
  .contact-page .contact-content-pane {
    width: 95%;
    overflow: hidden;
  }
  .prevention-page .prevention-content-pane > a,
  .contact-page .contact-content-pane>a {
    margin: inherit auto;
    width: 100%;
  }
}


@media only screen and (max-width: 800px) {
    .intro-page .intro-contentpane {
        margin: 150px auto;
        width: 90%;
    }

    .intro-page .intro-contentpane h1,.prevention-page .prevention-content-pane h1 {
        font-size: 2.4rem;
        padding: 10px;

    }

    .intro-page .intro-contentpane p,.prevention-page .prevention-content-pane p {
        font-size: 1.6rem;
        padding: 10px;
    }

    .news-pane {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        height: 60vh;
    }
    .prevention-page .image {
        display: none;
    }
    .prevention-page {
        flex-wrap: wrap;
        padding: 20px;
    }
    .prevention-page .prevention-content-pane {
        width: 95%;
        overflow: hidden;
    }
    .prevention-page .prevention-content-pane>a {
        margin: inherit auto;
        width: 100%;
    }
    
}
