@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Montserrat, sans-serif;
}

.news-component>a{
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 20px;
    border: 1px solid grey;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.news-component>a>img {
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.news-component .description {
    display: block;
    height: 16px*1.3*3;
    line-height: 1.3;
    -webkit-line-clamp: 3;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-component h2 {
    font-size: 1.3rem;
}