@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Montserrat, sans-serif;
}

.news-component {
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.news-component>a{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.579);
}

.news-component>a>img {
    width: 100%;
    height: 150px;
    margin: 0 auto 15px auto;
    border-radius: 5px;
    -webkit-transition: .3s ease-in;
	transition: .3s ease-in;
}

.news-component>a:hover>img {
    -webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.news-component .description {
    display: block;
    height: 16px*1.3*3;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-component h2 {
    font-size: 1.3rem;
}

.news-component>a>* {
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    .news-component {
        width: 100%;
        height: 100%;
    }
}