@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Montserrat, sans-serif;
}
.News {
  background: url("../Img/932271.jpg");
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  max-width: 1200px;
}

.heading-1 {
  font-size: 40px;
  text-transform: uppercase;
}

.heading-2 {

  text-align: left;
  font-size: 40px;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 20px;
}

.heading-3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #61DBDB;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.sub-heading p {
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 10px;
}

.sub-heading span {
  color: #555;
  font-weight: 300;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.sub-heading .importent {
  color: #61DBDB;
  text-transform: uppercase;
  font-weight: 300;
}

/* HOME */
.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.home-img {
  margin-left: -2vw;
  width: 85%;
}

.list {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-bottom: 10px;
}

.list img {
  width: 100%;
  height: 80px;
}
a{
  color: white;
text-decoration: none;
}

/* ARTICLE */

article {
  text-align: left;
  font-size: 20px;
  margin-bottom: 40px;
  columns: 2;
  column-gap: 30px;
  hyphens: auto;
}
article>p {
  font-size: 20px;
  margin-bottom: 20px;

  
}




article p:first-child::first-line {
  font-weight: 700;
  font-size: 25px;
}

/* blockquote */
blockquote {
  font-size: 20px;
  padding: 10px 30px;
  margin-bottom: 40px;
  position: relative;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  top: -48px;
  left: -4px;
  opacity: .3;
  color: #666;
  font-size: 150px;
}

.cards {
  columns: 25ch 3;
  gap: 40px;
  margin-bottom: 40px;
}

.card {
  font-size: 20px;
  border: 1px solid;
  padding: 10px 20px;
  break-inside: avoid;
}

@media (max-width: 950px) {
  .home {
    grid-template-columns: 1fr;
  }

  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .list {
    grid-template-columns: 1fr 5fr;
  }

  .card {
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) {
  .lists {
    grid-template-columns: 1fr;
  }
  article {
    columns: 1;
  }
}