@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: orangered;
  }


.report {

    height: 335vh;
    width: 100%;
    background: url('../Img/Report_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;

}
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 100px;
}
.contact-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.left-text{
    font-size: 1.2rem;
    width: 45%;
    text-align: left;
    justify-content: space-between;
    line-height: 35px;
}

.right-text{
    font-size: 1.2rem;
    width: 45%;
    text-align: right;
    justify-content: space-between;
    line-height: 35px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 150px;
}
.contact-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 40px;
}
.column {
    float: left;
    width: 50%;
    height: 0px;
    color: black;
  }
.container {
    padding: 20px;
    margin: 10vh auto;
    width: 80%;
    padding: 5%;   

    text-align: center;
    margin-top: 12vh;
    color: white;
    background: rgba(49, 49, 49, 0.66);
    border-radius: 20px;
    /* backdrop-filter: blur(5px); */
}
.contact{
    padding: 20px;
    margin: 10vh auto;
    width: 80%;
    padding: 5%;   

    text-align: center;
    color: orangered;
    margin-top: 10vh;
    color: white;
    background: white;
    border-radius: 20px;
}

.report_img_1{
    width: 450px;
    height: 275px;
}
@media only screen and (max-width: 700px) {
    .title {
        font-size: 1.6rem;    
    }
    .description {
        font-size: 1.1rem;
        line-height: 1.3;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .title {
        font-size: 1.4rem;
        margin-bottom: 15px;    
    }
    .description {
        line-height: 1.3;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }
  }
  